@charset "utf-8";
/********** css responsive init **********/

/* common */
body{font-family: 'Noto Sans KR', sans-serif;
background: #D7CFB5;}
.container{width: 1260px;margin: 0 auto;}



/* header */
#header{position:fixed;width: 100%;z-index: 2;}
.headerWrap{display: flex;padding: 30px 60px;}
.headerWrap h1 img{width: 260px;height: 55px;}

.h_MenuWrap{width: 620px;margin-left: auto;}
.iconMenu{width: 150px;}

.h_MenuWrap>ul,.iconMenu>ul{display: flex;height: 100%;}
.h_MenuWrap>ul>li,.iconMenu>ul>li{flex:1 1 auto;}
.h_MenuWrap>ul>li{
    position: relative;}
.h_MenuWrap>ul>li:last-child{padding: 0 15px 0 0;}
.h_MenuWrap>ul>li>a,.iconMenu>ul>li>a
{display: flex;justify-content: center;
    align-items: center;height: 100%;}
.h_MenuWrap>ul>li>a{color:rgb(243, 243, 243);}

.h_MenuWrap>ul>li .s_bar{
    width: 100%;height: 3px;
    background: rgba(235, 235, 235,0.5);
    transform: scale(0);}
.h_MenuWrap>ul>li.on .s_bar{transform: scale(1);}

.menubg{width: 100%;height: 185px;background: rgba(0,0,0,.5);}

/* toggle */
.toggle{
    width: 45px; height: 45px;
    display: flex;justify-content: center;align-items: center;
    display: none;
}
.toggle div{
    width: 25px;height: 3px;
    background: rgb(235, 234, 234);
    position: absolute;
}
.toggle .bar1{transform: translateY(-10px);}


/* subpage*/
.h_MenuWrap .submenu{position: absolute;
    margin-top: 40px;width: 100%;
    display: none; }
.h_MenuWrap .submenu li a{
    display: block;line-height: 40px;
    font-size: 14px;color: #fff;
    text-align: center; }

.m_Menu img{width: 190px;height: 40px;}
.h_menuClone .m_bar{width: 90%;height: 3px;
background: #D1CAB1;
margin: 0 auto;}

.h_menuClone{display: none;}
.h_menuClone h1{padding: 25px 45px;}
.h_menuClone img{width: 200px;height: 45px;}
.h_menuClone .m_Menu{
    padding: 25px 45px;
}
.h_menuClone .m_Menu .submenu{display: none;}


.submenu>li{font-size: 16px;}

/* 
.notice{width: 100%;height: 60px;background: #000;}





/********** css responsive **********/
@media (max-width: 1399px) {

}

@media (max-width: 1199px) {

}

@media (max-width: 991px) {
    .container{width: 100%;}
    .h_MenuWrap{display: none;}
    .headerWrap{padding: 30px 25px;}
    .headerWrap h1{margin: 0 auto;}
    .headerWrap h1 img{width: 180px;height: 40px;}
    .toggle{
        display: flex;
    }

    .iconMenu{width: 70px;margin-top: -12px;}
    .iconMenu li:nth-child(2){display: none;}
    .iconMenu li img{width: 20px;}

    .h_menuClone{
        position: fixed;
        width: 90%;height: 100%;
        top: 0;left:-100%;
        background: #F1EBD7;
        display:block;
    }
    .m_MenuBg{
        position: fixed;
        width: 100%;height: 100%;
        left: 0;top: 0;
        background: #000;
        opacity: .5;
        display: none;
    }
    .headerMenu>li{
        margin-bottom: 10px;
    }
    .headerMenu .submenu>li>a{
        font-size: 15px;
    }
    .m_MenuPlus{
        
    }
}

@media (max-width: 767px) {
    
    
}

@media (max-width: 575px) {

}