* {
  margin: 0;
  padding: 0;
}

a:link, a:visited {
  text-decoration: none;
  color: #333;
}

ul, li {
  list-style: none;
}

body {
  font-family: "IBM Plex Sans KR", sans-serif;
}

#header {
  position: fixed;
  width: 100%;
  z-index: 1;
}
#header.active .mainMenu > ul > li > a {
  color: #333 !important;
}
#header.active h1 .logo {
  fill: #333 !important;
}
#header.active .rightMenu .right_con {
  border: 1px solid #333 !important;
}
#header.active .rightMenu .right_con a {
  color: #333 !important;
}
#header .headerWrap {
  padding: 30px 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .headerWrap h1 .logo {
  fill: #fff;
  transition: 0.3s;
}
#header .headerWrap .mainMenu ul {
  display: flex;
  align-items: center;
}
#header .headerWrap .mainMenu ul li a {
  font-size: 18px;
  font-weight: 500;
  padding: 0 40px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  transition: 0.3s;
  position: relative;
}
#header .headerWrap .mainMenu ul li a:hover::before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: rgba(173, 123, 97, 0.7);
  position: absolute;
  top: -8px;
}
#header .headerWrap .mainMenu ul li a:hover::after {
  content: "";
  display: block;
  width: 80%;
  height: 3px;
  border-radius: 10px;
  background: rgba(173, 123, 97, 0.9);
  position: absolute;
  bottom: -8px;
}
#header .headerWrap .rightMenu .right_con {
  width: 200px;
  height: 52px;
  border: 1px solid #fff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}
#header .headerWrap .rightMenu .right_con a {
  color: #fff;
  font-weight: 500;
  font-size: 18px;
}
#header .headerWrap .rightMenu .right_con:hover {
  background: #fff;
}
#header .headerWrap .rightMenu .right_con:hover > a {
  color: #333;
}
#header .headerWrap .m_toggle {
  display: none;
}
#header .headerWrap .m_toggle .toggle {
  width: 50px;
  height: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header .headerWrap .m_toggle .toggle::after {
  content: "";
  display: block;
  width: 35px;
  height: 3px;
  background: #fff;
  position: absolute;
  top: 17px;
}
#header .headerWrap .m_toggle .toggle::before {
  content: "";
  display: block;
  width: 35px;
  height: 3px;
  background: #fff;
  position: absolute;
  bottom: 17px;
}
#header .headerWrap .m_menubg {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}
#header .headerWrap .m_menuClone {
  position: fixed;
  width: 90%;
  height: 100%;
  top: 0;
  right: -100%;
  background: rgb(189, 151, 130);
  transition: 0.4s;
}
#header .headerWrap .m_menuClone .m_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}
#header .headerWrap .m_menuClone .m_menu .out {
  width: 50px;
  height: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#header .headerWrap .m_menuClone .m_menu .out .outbar1 {
  width: 40px;
  height: 3px;
  background: #fff;
  border-radius: 15px;
  position: absolute;
  transform: translateY(10px);
  transform: rotate(45deg);
}
#header .headerWrap .m_menuClone .m_menu .out .outbar2 {
  width: 40px;
  height: 3px;
  background: #fff;
  border-radius: 15px;
  position: absolute;
  transform: translateY(-10px);
  transform: rotate(-45deg);
}
#header .headerWrap .m_menubar {
  width: 100%;
  height: 1px;
  background: #fff;
}
#header .headerWrap .m_menulist {
  margin-top: 20px;
}
#header .headerWrap .m_menulist ul li {
  position: relative;
}
#header .headerWrap .m_menulist ul li:hover::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 13px solid rgb(132, 97, 75);
  border-right: 13px solid transparent;
  position: absolute;
  left: 150px;
  top: 25%;
}
#header .headerWrap .m_menulist ul li:hover::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 13px solid transparent;
  border-right: 13px solid rgb(132, 97, 75);
  position: absolute;
  right: 150px;
  top: 25%;
}
#header .headerWrap .m_menulist ul li a {
  font-size: 28px;
  color: #fff;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.wrap {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fullpage .page1 {
  overflow: hidden;
}
.fullpage .page1 .wrap {
  position: relative;
}
.fullpage .page1 .wrap .bg_movie {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.fullpage .page1 .wrap::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.4;
}
.fullpage .page1 .wrap .page1_contents {
  z-index: 1;
}
.fullpage .page1 .wrap .page1_contents .mainTitle {
  width: 100%;
  position: absolute;
  transform: translate(-50%, -90%);
  top: 50%;
  left: 50%;
  text-align: center;
}
.fullpage .page1 .wrap .page1_contents .mainTitle h1 {
  margin-bottom: 20px;
}
.fullpage .page1 .wrap .page1_contents .mainTitle h1 a {
  color: #fff;
  font-size: 5vw;
  font-weight: 500;
  text-shadow: 1px 1px 10px #333;
}
.fullpage .page1 .wrap .page1_contents .mainTitle p {
  margin-bottom: 35px;
}
.fullpage .page1 .wrap .page1_contents .mainTitle p a {
  color: #fff;
  font-size: 20px;
  text-shadow: 1px 1px 10px #333;
}
.fullpage .page1 .wrap .page1_contents .mainTitle .quick {
  color: #fff;
  font-size: 20px;
  margin-bottom: 0;
}
.fullpage .page1 .wrap .page1_contents .mainTitle img {
  width: 20px;
  -webkit-animation: page1_arrow 0.8s infinite forwards;
          animation: page1_arrow 0.8s infinite forwards;
}
@-webkit-keyframes page1_arrow {
  100% {
    transform: translateY(10px);
  }
}
@keyframes page1_arrow {
  100% {
    transform: translateY(10px);
  }
}
.fullpage .page1 .wrap .page1_contents .field {
  position: absolute;
  transform: translate(-50%, 40%);
  top: 50%;
  left: 50%;
  width: 900px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
}
.fullpage .page1 .wrap .page1_contents .field .date {
  display: flex;
  gap: 70px;
}
.fullpage .page1 .wrap .page1_contents .field .date .start {
  display: flex;
  flex-direction: column;
  color: #fff;
  position: relative;
  text-align: center;
}
.fullpage .page1 .wrap .page1_contents .field .date .start::after {
  content: "";
  display: block;
  width: 1px;
  height: 60px;
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  right: -35px;
}
.fullpage .page1 .wrap .page1_contents .field .date .start .inp-field {
  background: transparent;
  border: 0 none;
  color: #fff;
  width: 90px;
  margin-top: 10px;
  text-align: center;
}
.fullpage .page1 .wrap .page1_contents .field .date .start .inp-field:focus {
  outline: none;
}
.fullpage .page1 .wrap .page1_contents .field .date .end {
  display: flex;
  flex-direction: column;
  color: #fff;
  position: relative;
  text-align: center;
}
.fullpage .page1 .wrap .page1_contents .field .date .end::after {
  content: "";
  display: block;
  width: 1px;
  height: 60px;
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  right: -35px;
}
.fullpage .page1 .wrap .page1_contents .field .date .end .inp-field {
  background: transparent;
  border: 0 none;
  color: #fff;
  width: 90px;
  margin-top: 10px;
  text-align: center;
}
.fullpage .page1 .wrap .page1_contents .field .date .end .inp-field:focus {
  outline: none;
}
.fullpage .page1 .wrap .page1_contents .field .field_number {
  display: flex;
  gap: 15px;
  position: relative;
}
.fullpage .page1 .wrap .page1_contents .field .field_number .room {
  display: flex;
  flex-direction: column;
  color: #fff;
  text-align: center;
}
.fullpage .page1 .wrap .page1_contents .field .field_number .room select {
  margin-top: 10px;
  background: transparent;
  border: 0 none;
  color: #fff;
  text-align: center;
}
.fullpage .page1 .wrap .page1_contents .field .field_number .room select option {
  color: #333;
}
.fullpage .page1 .wrap .page1_contents .field .field_number .room select:focus {
  outline: none;
}
.fullpage .page1 .wrap .page1_contents .field .field_number .adult {
  display: flex;
  flex-direction: column;
  color: #fff;
  text-align: center;
}
.fullpage .page1 .wrap .page1_contents .field .field_number .adult select {
  margin-top: 10px;
  background: transparent;
  border: 0 none;
  color: #fff;
  text-align: center;
}
.fullpage .page1 .wrap .page1_contents .field .field_number .adult select option {
  color: #333;
}
.fullpage .page1 .wrap .page1_contents .field .field_number .adult select:focus {
  outline: none;
}
.fullpage .page1 .wrap .page1_contents .field .field_number .children {
  display: flex;
  flex-direction: column;
  color: #fff;
  text-align: center;
}
.fullpage .page1 .wrap .page1_contents .field .field_number .children select {
  margin-top: 10px;
  background: transparent;
  border: 0 none;
  color: #fff;
  text-align: center;
}
.fullpage .page1 .wrap .page1_contents .field .field_number .children select option {
  color: #333;
}
.fullpage .page1 .wrap .page1_contents .field .field_number .children select:focus {
  outline: none;
}
.fullpage .page1 .wrap .page1_contents .field .field_number::after {
  content: "";
  display: block;
  width: 1px;
  height: 60px;
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  right: -35px;
}
.fullpage .page1 .wrap .page1_contents .field .main_btn {
  width: 200px;
  height: 52px;
  border: 1px solid #fff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  cursor: pointer;
}
.fullpage .page1 .wrap .page1_contents .field .main_btn a {
  color: #fff;
  font-weight: 500;
  font-size: 18px;
}
.fullpage .page1 .wrap .page1_contents .field .main_btn:hover {
  background: #fff;
}
.fullpage .page1 .wrap .page1_contents .field .main_btn:hover > a {
  color: #333;
}
.fullpage .page1 .wrap .page1_contents .field .m_btn {
  display: none;
}
.fullpage .page1 .wrap .page1_contents .field .m_btn .sub_btn {
  width: 200px;
  height: 52px;
  border: 1px solid #fff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.fullpage .page1 .wrap .page1_contents .field .m_btn .sub_btn a {
  color: #fff;
  font-weight: 500;
  font-size: 18px;
}
.fullpage .page1 .wrap .page1_contents .field .m_btn .sub_btn:hover {
  background: #fff;
}
.fullpage .page1 .wrap .page1_contents .field .m_btn .sub_btn:hover > a {
  color: #333;
}
.fullpage .page2 {
  background-image: url(../images/illua-visual_ad.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.fullpage .page2 .page2_txt {
  text-align: center;
}
.fullpage .page2 .page2_txt h1 {
  color: #fff;
  font-size: 56px;
  margin-bottom: 40px;
  opacity: 0;
  transition: 0.3s;
}
.fullpage .page2 .page2_txt h1.move {
  -webkit-animation: page2_txt 0.5s linear forwards;
          animation: page2_txt 0.5s linear forwards;
}
.fullpage .page2 .page2_txt p {
  color: #fff;
  font-size: 20px;
  opacity: 0;
  transition: 0.3s;
}
.fullpage .page2 .page2_txt p.move {
  -webkit-animation: page2_txt 0.5s linear forwards;
          animation: page2_txt 0.5s linear forwards;
}
.fullpage .page2 .page2_txt p:nth-child(2) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
.fullpage .page2 .page2_txt p:nth-child(3) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.fullpage .page2 .page2_txt p:nth-child(4) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.fullpage .page2 .page2_txt p:nth-child(5) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.fullpage .page2 .page2_txt p:nth-child(6) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.fullpage .page2 .page2_txt p:nth-child(7) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.fullpage .page2 .page2_txt p:nth-child(8) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}
@-webkit-keyframes page2_txt {
  100% {
    opacity: 1;
    transform: translateY(-35px);
  }
}
@keyframes page2_txt {
  100% {
    opacity: 1;
    transform: translateY(-35px);
  }
}
.fullpage .page3 {
  overflow: hidden;
}
.fullpage .page3 .swiper {
  width: 100%;
  height: 100vh;
  position: relative;
}
.fullpage .page3 .swiper .swiper-wrapper .swiper-slide {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.fullpage .page3 .swiper .swiper-pagination {
  position: absolute;
  bottom: 30px;
}
.fullpage .page3 .swiper .swiper-pagination .swiper-pagination-bullet {
  padding: 5px 10px;
  border-radius: 10px;
  width: 140px;
  height: 40px;
  line-height: 30px;
  text-align: center;
  font-size: 18px;
  color: #fff;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
  bottom: 30px;
  font-weight: 500;
}
.fullpage .page3 .swiper .swiper-pagination .swiper-pagination-bullet-active {
  color: #333;
  background: rgba(238, 182, 133, 0.7);
}
.fullpage .page3 .swiper .swiper-button-next,
.fullpage .page3 .swiper .swiper-button-prev {
  display: none;
}
.fullpage .page3 .page3_t {
  position: relative;
  z-index: 1;
}
.fullpage .page3 .page3_t .page3_txt {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
}
.fullpage .page3 .page3_t .page3_txt h1 {
  font-size: 48px;
}
.fullpage .page3 .page3_t .page3_txt p {
  font-size: 20px;
}
.fullpage .page3 .page3_t .page3_txt ul {
  display: flex;
  margin-top: 50px;
}
.fullpage .page3 .page3_t .page3_txt ul li {
  position: relative;
}
.fullpage .page3 .page3_t .page3_txt ul li::after {
  content: "";
  display: block;
  clear: both;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: rgb(138, 138, 138);
  position: absolute;
  top: 9px;
  left: -20px;
}
.fullpage .page3 .page3_t .page3_txt ul li:first-child::after {
  display: none;
}
.fullpage .page3 .page3_t .page3_txt ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-right: 30px;
  font-size: 17px;
  color: rgb(138, 138, 138);
}
.fullpage .page4 .page4_txt {
  display: flex;
}
.fullpage .page4 .page4_txt h1 {
  font-size: 48px;
}
.fullpage .page4 .page4_txt ul {
  display: flex;
  align-items: center;
}
.fullpage .page4 .page4_txt ul li {
  position: relative;
}
.fullpage .page4 .page4_txt ul li::after {
  content: "";
  display: block;
  clear: both;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: rgb(138, 138, 138);
  position: absolute;
  top: 9px;
  left: -17px;
}
.fullpage .page4 .page4_txt ul li:first-child::after {
  display: none;
}
.fullpage .page4 .page4_txt ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-right: 30px;
  font-size: 17px;
  color: rgb(138, 138, 138);
}
.fullpage .page4 .swiper-wrapper {
  width: 1540px;
  height: 500px;
}
.fullpage .page4 .swiper-pagination-bullets span {
  width: 150px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.7);
}
.fullpage .page4 .swiper-button-next::after,
.fullpage .page4 .swiper-button-prev::after {
  display: none;
}
.fullpage .footer {
  height: 500px !important;
  position: relative;
}
.fullpage .footer .footWrap {
  width: 100%;
  padding: 0 170px;
  position: absolute;
  z-index: 1;
}
.fullpage .footer .footWrap .foot_top {
  display: flex;
  align-items: center;
}
.fullpage .footer .footWrap .foot_top h1 {
  width: 160px;
  height: 200px;
}
.fullpage .footer .footWrap .foot_top h1 svg {
  width: 100%;
  height: 100%;
  fill: #fff;
}
.fullpage .footer .footWrap .foot_top .foot_icon {
  margin-left: auto;
}
.fullpage .footer .footWrap .foot_top .foot_icon ul {
  display: flex;
  gap: 20px;
}
.fullpage .footer .footWrap .foot_top .foot_icon ul img {
  width: 40px;
  height: 40px;
}
.fullpage .footer .footWrap .foot_mid {
  margin-bottom: 90px;
}
.fullpage .footer .footWrap .foot_mid ul {
  display: flex;
  justify-content: right;
  gap: 60px;
}
.fullpage .footer .footWrap .foot_mid ul li a {
  display: flex;
  color: #fff;
  font-weight: 500;
  font-size: 17px;
}
.fullpage .footer .footWrap::after {
  content: "";
  display: block;
  clear: both;
  width: 83%;
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
  position: absolute;
  bottom: 85px;
}
.fullpage .footer .footWrap .foot_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fullpage .footer .footWrap .foot_bottom p {
  color: #fff;
  font-weight: 500;
  font-size: 14px;
}
.fullpage .footer .footWrap .foot_bottom ul {
  display: flex;
  gap: 40px;
}
.fullpage .footer .footWrap .foot_bottom ul li {
  position: relative;
  display: flex;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
}
.fullpage .footer .footWrap .foot_bottom ul li::after {
  content: "";
  display: block;
  width: 2px;
  height: 13px;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 3px;
  left: -20px;
}
.fullpage .footer .footWrap .foot_bottom ul li:first-child::after {
  display: none;
}
.fullpage .footer .ft_movie {
  position: absolute;
  left: 0;
  top: 0;
}
.fullpage .footer::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.4;
}

@media (max-width: 1199px) {
  .headerWrap {
    padding: 0 100px !important;
  }
  .fullpage .page1 .mainTitle h1 a {
    font-size: 6vw !important;
  }
  .fullpage .page1 .mainTitle p a {
    font-size: 17px !important;
  }
  .fullpage .page2 .row {
    width: 100%;
  }
  .fullpage .page2 .row h1 {
    font-size: 40px;
  }
  .fullpage .page2 .row .content .con_txt .top_txt {
    margin-bottom: 20px;
  }
  .fullpage .page2 .row .content .con_txt .top_txt h4 {
    font-size: 20px;
  }
  .fullpage .page2 .row .content .con_txt .top_txt p a {
    font-size: 14px;
  }
  .fullpage .page2 .row .content .con_txt .bottom_txt p {
    font-size: 14px;
  }
  .fullpage .page2 .row .content .con_txt .bottom_txt span {
    margin-right: 40px;
    font-weight: 600;
  }
}
@media (max-width: 991px) {
  .headerWrap {
    padding: 30px !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .headerWrap.fixed {
    padding: 10px 50px;
    background: rgba(146, 117, 101, 0.8);
  }
  .headerWrap .mainMenu {
    display: none !important;
  }
  .headerWrap .rightMenu {
    display: none;
  }
  .headerWrap .m_toggle {
    display: block !important;
    cursor: pointer;
  }
  .fullpage .page1 .mainTitle {
    width: 100%;
  }
  .fullpage .page1 .mainTitle h1 a {
    font-size: 60px !important;
  }
  .fullpage .page1 .field {
    width: 40% !important;
    display: flex;
    justify-content: center !important;
    align-items: center;
    background: transparent !important;
  }
  .fullpage .page1 .field .date {
    display: none !important;
  }
  .fullpage .page1 .field .field_number {
    display: none !important;
  }
  .fullpage .page1 .field .main_btn {
    display: none !important;
  }
  .fullpage .page1 .field .m_btn {
    display: block !important;
    margin-top: -10px;
  }
  .fullpage .page2 {
    padding: 0;
  }
  .fullpage .page2 .page2_item {
    display: none;
  }
  .fullpage .page2 .m_page2_slide {
    display: block;
    padding: 40px 30px;
  }
  .fullpage .page2 .m_page2_slide h1 {
    font-size: 46px;
    margin-bottom: 10px;
  }
  .fullpage .page2 .m_page2_slide p {
    font-size: 20px;
  }
  .fullpage .page2 .m_page2_slide .swiper-wrapper {
    width: 100%;
  }
  .fullpage .page2 .m_page2_slide .swiper-wrapper .m_contxt {
    text-align: center;
    margin-top: 20px;
  }
  .fullpage .page2 .m_page2_slide .swiper-wrapper .m_contxt p a span {
    font-weight: 500;
    font-size: 20px;
  }
  .fullpage .page2 .m_page2_slide .swiper-wrapper .m_contxt .btn {
    width: 130px;
    height: 40px;
    border: 1px solid #000;
  }
  .fullpage .page2 .m_page2_slide .swiper-wrapper .m_contxt .btn:hover {
    background: #000;
  }
  .fullpage .page2 .m_page2_slide .swiper-wrapper .m_contxt .btn:hover > a {
    color: #fff;
  }
  .fullpage .page2 .m_page2_slide .swiper-wrapper .m_contxt .btn a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .fullpage .page2 .m_page2_slide .swiper-button-next {
    transform: rotate(180deg);
    position: absolute;
    top: 300px;
    right: 25px;
    width: 40px;
    height: 40px;
  }
  .fullpage .page2 .m_page2_slide .swiper-button-next::after {
    display: none;
  }
  .fullpage .page2 .m_page2_slide .swiper-button-next img {
    width: 100%;
  }
  .fullpage .page2 .m_page2_slide .swiper-button-prev {
    position: absolute;
    top: 300px;
    left: 25px;
    width: 40px;
    height: 40px;
  }
  .fullpage .page2 .m_page2_slide .swiper-button-prev::after {
    display: none;
  }
  .fullpage .page2 .m_page2_slide .swiper-button-prev img {
    width: 100%;
  }
  .fullpage .page2 .m_page2_slide .swiper-pagination {
    position: absolute;
    bottom: 150px;
    right: -200px;
    color: #fff;
  }
  .fullpage .page3 {
    overflow: initial;
  }
  .fullpage .page3 .page3_s {
    order: 2;
    margin-top: 100px;
    height: 100%;
  }
  .fullpage .page3 .page3_s .page3_swiper {
    padding: 10px 30px;
    margin: 100px 0;
  }
  .fullpage .page3 .page3_s .page3_swiper .swiper-pagination .swiper-pagination-bullet {
    width: 120px;
  }
  .fullpage .page3 .page3_t {
    order: 1;
  }
  .fullpage .page3 .page3_t .page3_txt {
    padding: 0 10px;
  }
  .fullpage .page3 .page3_t .page3_txt h1 {
    position: absolute;
    padding: 30px;
    left: 0;
  }
  .fullpage .page3 .page3_t .page3_txt p {
    position: absolute;
    left: 30px;
    top: 150px;
  }
  .fullpage .page3 .page3_t .page3_txt ul {
    display: none;
  }
  .fullpage .page4 {
    padding: 100px 0;
  }
  .fullpage .page4 .page4_txt ul {
    display: none;
  }
  .fullpage .page4 .page4_txt h1 {
    margin-top: 50px;
    margin-left: 20px;
  }
  .fullpage .page4 .swiper-wrapper {
    width: 700px;
    padding: 0 60px;
    margin-bottom: 70px;
  }
  .fullpage .page4 .swiper-pagination-bullets {
    bottom: 81px;
  }
  .fullpage .footer {
    height: 450px !important;
  }
  .fullpage .footer .fp-tableCell {
    height: 450px !important;
  }
  .fullpage .footer .footWrap {
    padding: 0 30px;
  }
  .fullpage .footer .footWrap .foot_top {
    display: flex;
    justify-content: center;
  }
  .fullpage .footer .footWrap .foot_top h1 {
    width: 160px;
    height: 200px;
  }
  .fullpage .footer .footWrap .foot_top h1 svg {
    width: 100%;
    height: 100%;
    fill: #fff;
  }
  .fullpage .footer .footWrap .foot_top .foot_icon {
    display: none;
  }
  .fullpage .footer .footWrap .m_foot_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .fullpage .footer .footWrap .m_foot_wrap .foot_mid {
    margin-bottom: 0;
  }
  .fullpage .footer .footWrap .m_foot_wrap .foot_mid ul {
    display: block;
    padding-left: 0;
    position: relative;
  }
  .fullpage .footer .footWrap .m_foot_wrap .foot_mid ul::after {
    content: "";
    display: block;
    height: 100%;
    width: 1px;
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    right: -30px;
    top: 0;
  }
  .fullpage .footer .footWrap .m_foot_wrap .foot_mid ul li {
    position: relative;
  }
  .fullpage .footer .footWrap .m_foot_wrap .foot_mid ul li::after {
    content: "";
    display: block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 9px;
    left: -13px;
  }
  .fullpage .footer .footWrap .m_foot_wrap .foot_mid ul li a {
    font-size: 16px;
    font-weight: 300;
  }
  .fullpage .footer .footWrap .m_foot_wrap .foot_bottom {
    display: block;
  }
  .fullpage .footer .footWrap .m_foot_wrap .foot_bottom p {
    display: none;
  }
  .fullpage .footer .footWrap .m_foot_wrap .foot_bottom ul {
    display: block;
    padding-left: 70px;
  }
  .fullpage .footer .footWrap .m_foot_wrap .foot_bottom ul li {
    position: relative;
    font-size: 16px;
    font-weight: 300;
  }
  .fullpage .footer .footWrap .m_foot_wrap .foot_bottom ul li::after {
    content: "";
    display: block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 9px;
    left: -13px;
  }
  .fullpage .footer .footWrap::after {
    display: none;
  }
  .fullpage .footer .ft_movie {
    height: 450px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (max-width: 767px) {
  .fullpage .page1 .mainTitle {
    width: 100%;
  }
  .fullpage .page1 .mainTitle h1 a {
    font-size: 55px !important;
  }
  .fullpage .page1 .mainTitle p {
    padding: 0 15px;
  }
  .fullpage .page1 .field {
    width: 100% !important;
  }
  .fullpage .page2 .m_page2_slide {
    width: 100% !important;
  }
  .fullpage .page2 .m_page2_slide .swiper-wrapper {
    width: 100%;
  }
  .page4 {
    padding: 0 30px;
  }
  .page4 .page4_txt h1 {
    margin-top: 50px;
    margin-left: 30px !important;
  }
  .page4 .swiper-wrapper {
    width: 420px !important;
  }
}/*# sourceMappingURL=style.css.map */