@charset "utf-8";

body{font-family: 'Noto Sans KR', sans-serif;}

.container{width: 980px;margin: 0 auto;}

/* header */
.headerTopWrap{
    /* background-image: url(../images/Philippines_01_0.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover; */
    background-color: #60d6a9;
    }

.headerTop{display: flex;justify-content: space-between;
    align-items: center;}
.headerTop a{color:#333;font-size: 14px;}

.headerTop .Util ul{
    display: flex;justify-content: space-between;
    align-items: center;
    width: 320px;height: 60px;
    margin-left: 15px;
}


.headerTop .searchbarWrap{
    position: relative;
}
.headerTop .inp{
    width: 300px;height: 30px;background: #fff;
    text-indent: 70px;
    border-radius: 15px;
    border: 1px solid rgba(14, 100, 54);
}
.headerTop .inp:focus{outline:none;}
.headerTop .icon{
    width: 22px;height: 22px;
    border: 1px solid #389773;
    border-radius: 50%;
    display: flex;justify-content: center;
    align-items: center;
    font-size: 12px;
}
.headerTop p{
    position: absolute;top: 5px;left: 7px;
    font-size: 13px;
}
.headerTop .icon{
    position: absolute;right: 5px;top: 4px;
}


.header{
    display: flex;justify-content: space-between;
    align-items: center;}
.header img{width: 110%;}
.header .mainMenu li{float:left;
    margin-right: 40px;
    font-size: 18px;font-weight: bold;
}
.header .mainMenu li:last-child{margin-right: 0;}

.header .toggle{display: flex;
    margin: 15px 0;}
.header .toggle .heart,
.header .toggle .all{
    background-image: url(../images/ico_like.png);
    background-repeat: no-repeat;
    background-position: 50% 30%;
    height: 60px;width: 60px;
    border:1px solid rgba(202, 202, 202);
    border-radius:15%;
    position: relative;
    margin-right: 8px;
    cursor: pointer;
}
.header .toggle .all:last-child{margin-right: 0;}
.header .toggle .heart a{position: absolute;
    bottom: 1px;right: 12px;
    font-size: 12px;
}
.header .toggle .all a{
    position: absolute;
    bottom: 1px;right: 7px;
    font-size: 12px;
}

#section{background-image: url(../images/bg02.jpg);}

.sec01 .slideWrap{
    width: 482px;height: 300px;
    position: relative;
}
/* bx-wrapper가 적용되지 않을 때, 앞에 부모 태그 넣어줄 것 */
.sec01 .slideWrap .bx-wrapper {
    -moz-box-shadow: 0 0 0 #ccc;
    -webkit-box-shadow: 0 0 0 #ccc;
    box-shadow: 0 0 0 #ccc;
    border: 0 none;
}
.sec01 .slideTab{
    position: absolute;top: 0;left: 0;
    width: 132px;height: 100%
}
/* display를 지정해줘야 나눠짐 */
.sec01 .slideTab a{
    width: 132px;height:calc( 100% / 4) ;
    display: flex;justify-content: center;
    align-items: center;
    background:#fff;
    font-size: 18px;
    }
.sec01 .slideTab a   
.sec01 .slideTab i{font-size: 18px;

}