@charset "utf-8";

@font-face {
    font-family: 'Binggrae';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{font-family: 'Binggrae';}
.headerWrap{width: 1760px;margin: 0 auto;}

/* .submenu{display: none;} */