@charset "utf-8";

@font-face {
    font-family: 'Binggrae';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{font-family: 'Binggrae','sans-serif';}

/* header */
.nav-item>a{
    font-size: 22px;font-weight: 600;
    color:#333;
    padding: 25px !important;
}

/* visual */
.visual{height: 800px;
    background: url(../images/section01_bg.png) no-repeat center / cover;
    /* background: color image repeat position/size attachment; */
}
.bg_logo{
    position: absolute;top: 50%;left: 50%;
    transform: translate(-50%, -80%);}

/* section */
.sec01 .sec01_item img{
    width: 251px;height: 251px;
}
.sec01 h1,.sec02 h1{font-weight: 800;}
.sec01 p{font-size: 18px;}




