@charset "utf-8";

body{font-family: 'Nanum Gothic', sans-serif;}

.headerTopWrap{border-bottom: 1px solid #dcdcdc;margin-bottom: 10px;}
.headerTop{width: 980px;margin: 0 auto;}
.topMenu ul{float: right;}
.topMenu li{float:left;position: relative;}
.topMenu li::after{content:"";display: block;width: 1px;height: 11px;
        background: #dcdcdc;position: absolute;top: 7px;right: 0;}
.topMenu li:last-child:after{display: none;}
.topMenu li a{display: block;padding: 7px 10px;
        font-size: 12px;line-height: 12px;}

#headerWrap h1{width: 151px; margin: 0 auto}
#headerWrap h1 a{color: #333;}

#headerWrap .toggle{width: 48px;height: 48px;
        border: 1px solid #cdcdcd;position: absolute;
        left:calc( 50% + 442px );top:38px}

